<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This app was created by Ajayi Lawrence. It uses data from magbox.com and darksky,net</p>
        <img src="/img/law.jpg" class="portriat">  
        </div>

        {{>footer}}
    </body>
</html>